@model List<MovieTicketsPurchase.Domain.DomainModels.Order>

<h1>Orders</h1>
<div class="row mb-3">
    <div class="col-12">
        @*<a class="btn btn-outline-success" asp-controller="Order" asp-action="ExportAllOrders">Export Orders</a>*@
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-right col-1">#</th>
            <th scope="col" class="text-right col-2">Number of Tickets</th>
            <th scope="col" class="col-4 pl-5">Ordered Tickets</th>
            <th scope="col" class="text-right col-2 pr-5">Total Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
        <tr>
            <th scope="row" class="text-right">@(i + 1)</th>
            <td class="text-right">
                @{int totalTickets = 0;}
                @foreach (var ticket in item.TicketsInOrder)
                {
                    totalTickets += ticket.Quantity;
                }
                @totalTickets
            </td>
            <td class="pl-5">
                @foreach (var ticket in item.TicketsInOrder)
                {
                <p>
                    @ticket.SelectedTicket.MovieName<br />
                </p>
                }
            </td>
            <td class="text-right pr-5">
                @{int totalPrice = 0;}
                @foreach (var ticket in item.TicketsInOrder)
                {
                    totalPrice += ticket.Quantity * ticket.SelectedTicket.Price;
                }
                @totalPrice MKD
            </td>
            <td class="text-center"><a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
            <td class="text-center"><a class="btn btn-outline-primary" asp-action="GenerateInvoice" asp-route-id="@item.Id">Generate Invoice</a></td>
        </tr>
        }
    </tbody>
</table>