@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is a web application where users can buy movie tickets.</p>
    <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/34295/movie-ticket-clipart-md.png" alt="Tickets" style="height: 400px;" class="mt-4"/>
</div>
